<template>
    <div id="app" class="message">{{ msg }}</div>
</template>

<script>
  export default {
    data () {
      return {
        msg: 'app.vue 파일에서 실행!'
      }
    }
  }
</script>

<style>
    .message {
        color: red;
    }
</style>